#overlay {
    background:url('/static/images/infinite_bg.jpg') repeat-x;
    position:absolute;
    z-index:-1;
    height:100%;
    width:100%;
  }
/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
  text-align:center;
  position: relative;
}
.container > hr {
  margin: 60px 0;
}
#enter-button {
  position:relative;
  bottom:15px;
  display:inline-block;
  background:url('/static/images/enter-button.jpg');
  width:205px;
  height: 76px;
  text-align: center;
  cursor: pointer;
}
#enter-button:hover {
  background:url('/static/images/facebook-hover.jpg');
}
#desc {
  opacity: 0.9;
  background: #062d3a;
  color:#FFF;
  position: absolute;
  top:400px;
  left:700px;
  width:300px;
  font-size: 16px;
  padding:10px;
  border-radius:10px;
}

body {
  margin: 0;
  padding-top: 0px;
  padding-bottom: 60px;
  background:url('/static/images/infinite_bg.jpg') repeat-x;
  background-color:#021319;
  font-family: "Segoe UI";

  }
  #overlay {
    background:url('/static/images/header-inf_FINAL.jpg') repeat-x;
    z-index: -1;
    height: 100%;
    width: 100%;
  }
/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}
.form-container {
  color:#FFF;
  font-size: 20px;
  border-radius: 15px;
  width: 400px;
  margin-left: 300px;
  margin-top: 0px;
  min-height: 200px;

}
#signup {

}
.form-title {
  margin-top: 10px;
  font-size: 26px;
  color:#FFF;
  font-weight: bold;
}
#fbpic {
  width:150px;
  border-radius:10px;
  border:1px solid #222;
  float:left;
}
#form {
  float:left;
  margin-left:40px;
  text-align: left;
}
#form > label {
  display: block;
}