<!DOCTYPE html>
<html lang="en">

<head>
  <title>The Bigger Fish</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
    <meta name="author" content="">
  <!-- Bootstrap -->
  <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet">
</head>

<body>
  <div id="overlay"></div>
  <div class="container">
    <div id="desc">
      Create your own business and start partnering with your friends into Bigger Fish's online Universe.
    </div>
    <img src="static/images/header_img.jpg" alt="">
    <a id="enter-button"></a>
  </div>

  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script type="text/javascript">
    $("#enter-button").click(function() {
      $.ajax({
        url: '/login',
        method: 'POST',
        success: function(data) {
          if (data.status && data.status == "OK" && data.message && data.message == "loggedIn") {
            window.location = '/wizard';
          }
        }
      })
    });
  </script>
</body>
</html>